In [27]:
import pandas as pd

data86 = pd.read_excel('naturalizations_reg86-04.xls')
data04 = pd.read_excel('naturalizations_reg04-13.xls')

In [28]:
data86.head()

,Country,1991,1992,1993,1994,1995,1996,1997,1998,1999,2000,2001,2002,2003,2004
0,Total,308058,240252,314681,434107,488088,1044689,598225,463060,839944,888788,608205,573708,463204,537151
1,Europe,32986,27143,37774,56449,63602,109607,67783,58836,101318,121273,89431,93627,74186,89014
2,Albania,72,92,88,109,103,348,419,351,599,826,1032,2451,2284,3324
3,Andorra,NaN,NaN,0,0,0,NaN,0,NaN,3,NaN,NaN,NaN,0,0
4,Armenia,0,12,136,641,1215,2957,3037,2530,3190,2569,1972,1817,1676,1793

In [29]:
data04.head()

,Country,2004,2005,2006,2007,2008,2009,2010,2011,2012,2013
0,Total,537151,604280,702589,660477,1046539,743715,619913,694193,757434,779929
1,Africa,34531,38830,50397,41652,54418,60383,64022,69738,74775,71872
2,Asia,224072,243514,263516,243783,330361,276375,251598,249940,257035,275700
3,Europe,83961,91745,101125,81788,108688,90214,78011,82209,82714,80333
4,North America,151008,180525,223034,241136,462312,250209,163836,217750,261673,271807

In [30]:
data = pd.DataFrame(columns=data86.columns+data04.columns[1:])
data.columns
for country in data86.Country:
    begin = data86[data86.Country==country]
    end = []
    try: 
        end = data04[data04.Country==country]
    except:
        pass
    
    if end.empty:
        new_entry = begin.iloc[0].tolist() + [None,None,None,None,None,None,None,None,None]
    else:
        new_entry = begin.iloc[0].tolist() + end.iloc[0].tolist()[2:]
        
    appension =  pd.DataFrame(new_entry).transpose()
    appension.columns = data.columns
   
    data = data.append(appension)
    
data.head()

/home/nshlapo/anaconda2/lib/python2.7/site-packages/ipykernel/__main__.py:1: FutureWarning: using '+' to provide set union with Indexes is deprecated, use '|' or .union()
  if __name__ == '__main__':

,Country,1991,1992,1993,1994,1995,1996,1997,1998,1999,...,2004,2005,2006,2007,2008,2009,2010,2011,2012,2013
0,Total,308058,240252,314681,434107,488088,1.04469e+06,598225,463060,839944,...,537151,604280,702589,660477,1.04654e+06,743715,619913,694193,757434,779929
0,Europe,32986,27143,37774,56449,63602,109607,67783,58836,101318,...,89014,91745,101125,81788,108688,90214,78011,82209,82714,80333
0,Albania,72,92,88,109,103,348,419,351,599,...,3324,3830,3964,2786,2972,3483,5088,4267,3615,3538
0,Andorra,NaN,NaN,0,0,0,NaN,0,NaN,3,...,0,None,None,None,None,None,None,None,None,None
0,Armenia,0,12,136,641,1215,2957,3037,2530,3190,...,1793,1737,1605,1495,2195,2021,3168,3965,3285,3203

In [31]:
for country in data04.Country:
    if country not in data.Country.tolist():
        begin = [country, None,None,None,None,None,None,None,None,None,None,None,None,None,None]
        end = data04[data04.Country==country]
        
        new_entry = begin + end.iloc[0].tolist()[2:]
        
        appension =  pd.DataFrame(new_entry).transpose()
        appension.columns = data.columns
        
        data = data.append(appension)
        
data.to_csv('../Data/naturalization_by_nat.csv')

In [32]:
data

,Country,1991,1992,1993,1994,1995,1996,1997,1998,1999,...,2004,2005,2006,2007,2008,2009,2010,2011,2012,2013
0,Total,308058,240252,314681,434107,488088,1.04469e+06,598225,463060,839944,...,537151,604280,702589,660477,1.04654e+06,743715,619913,694193,757434,779929
0,Europe,32986,27143,37774,56449,63602,109607,67783,58836,101318,...,89014,91745,101125,81788,108688,90214,78011,82209,82714,80333
0,Albania,72,92,88,109,103,348,419,351,599,...,3324,3830,3964,2786,2972,3483,5088,4267,3615,3538
0,Andorra,NaN,NaN,0,0,0,NaN,0,NaN,3,...,0,None,None,None,None,None,None,None,None,None
0,Armenia,0,12,136,641,1215,2957,3037,2530,3190,...,1793,1737,1605,1495,2195,2021,3168,3965,3285,3203
0,Austria,98,92,194,281,291,382,181,153,232,...,277,307,359,292,357,303,277,271,241,248
0,Azerbaijan,0,0,0,3,27,160,263,350,878,...,793,904,997,606,834,1005,1233,1153,958,786
0,Belarus,0,0,NaN,3,89,393,727,833,1869,...,1464,1549,1769,1401,1767,1583,1523,1814,1896,1797
0,Belgium,174,142,191,254,233,343,179,166,294,...,232,247,355,248,716,673,523,525,522,513
0,Bosnia-Herzegovina,0,0,NaN,18,29,44,50,33,300,...,8013,8921,9686,8175,8176,4544,4012,4259,4904,3662
0,Bulgaria,227,166,168,247,256,627,356,263,498,...,2487,2906,3488,2621,3213,3211,3123,3103,2964,2646
0,Croatia,0,0,3,52,168,470,212,184,358,...,1084,1348,1623,1073,1251,718,589,569,725,561
0,Czech Republic,0,0,0,NaN,5,4,10,NaN,27,...,69,102,122,122,192,266,367,485,477,562
0,Czechoslovakia,863,677,643,712,692,733,434,315,548,...,434,None,None,None,None,None,None,None,None,None
0,Denmark,177,120,155,243,230,341,165,165,239,...,175,154,199,170,210,156,123,124,133,127
0,Estonia,32,11,16,58,72,91,52,52,82,...,126,104,156,132,221,209,185,217,234,213
0,Finland,89,90,103,138,138,186,94,110,159,...,352,431,532,359,549,385,286,344,329,300
0,France,1184,981,1140,1630,1413,2340,1261,1125,1903,...,1802,2016,2506,2011,2835,2529,2263,2527,2358,2534
0,Georgia,0,0,NaN,4,25,70,101,76,147,...,382,443,628,514,627,864,1107,1253,1271,1205
0,Germany,2296,1938,2591,3763,3658,4664,2946,2517,4169,...,3836,3811,4556,3617,4708,4564,4001,4461,4192,4066
0,Gibraltar,0,4,5,4,4,5,NaN,NaN,5,...,NaN,None,None,None,None,None,None,None,None,None
0,Greece,1850,1751,2106,2577,2135,3162,1885,1553,2355,...,1100,1075,1291,1200,1314,1067,800,844,867,938
0,Hungary,836,616,649,855,868,1159,568,531,884,...,738,720,955,788,1089,1142,916,953,1014,984
0,Iceland,26,36,31,37,37,43,38,32,50,...,79,82,70,62,83,75,51,76,97,75
0,Ireland,749,731,1067,1677,1959,3284,1835,1444,3414,...,2421,1995,1754,1335,2179,1296,1178,1171,1239,1295
0,Italy,1998,1608,3502,5702,4065,5117,2445,2522,4393,...,2295,2511,2769,2217,2991,2552,2064,2231,2234,2355
0,Kazakhstan,0,0,NaN,36,21,32,46,58,226,...,572,726,872,725,908,917,763,891,1040,909
0,Kyrgyzstan,0,0,NaN,0,NaN,NaN,NaN,18,32,...,159,217,246,331,361,338,380,440,420,395
0,Latvia,51,50,66,138,186,336,202,194,383,...,335,348,347,327,455,404,342,401,392,364
0,Liechtenstein,0,3,NaN,0,3,NaN,0,NaN,0,...,0,None,None,None,None,None,None,None,None,None
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
0,Colombia,5619,6451,9985,12309,12823,27483,11645,7024,13168,...,9819,11396,15698,12089,22926,16593,18417,22693,23972,22196
0,Ecuador,2231,1855,2701,3965,5381,14547,7463,4674,8411,...,5616,7091,8321,7229,11908,7609,5931,6929,8783,9470
0,Falkland Islands,0,NaN,0,0,NaN,0,NaN,0,0,...,0,None,None,None,None,None,None,None,None,None
0,French Guiana,5,NaN,NaN,NaN,NaN,0,NaN,0,NaN,...,6,None,None,None,None,None,None,None,None,None
0,Guyana,4863,4726,4964,6081,5499,11223,7544,4575,10366,...,4877,5543,7434,5631,8290,6840,4932,5413,6201,6295
0,Paraguay,131,129,173,259,230,491,248,112,193,...,178,202,285,234,386,310,212,289,338,331
0,Peru,3141,2645,3285,4754,5921,12884,6352,4353,8308,...,6980,7904,10063,7965,15016,10349,8551,10266,11814,11782
0,Suriname,35,46,NaN,NaN,NaN,134,NaN,45,NaN,...,97,125,222,159,202,198,161,194,189,160
0,Uruguay,400,368,581,667,679,1372,622,397,689,...,412,475,579,496,924,634,585,751,849,933
0,Venezuela,750,710,798,1078,1009,2533,1205,925,2263,...,2385,2659,4476,3575,6557,4735,5243,6856,7404,7648
0,Born on ship,0,0,0,0,0,NaN,0,0,0,...,0,None,None,None,None,None,None,None,None,None
0,Stateless,0,0,0,0,0,0,44,28,67,...,0,None,None,None,None,None,None,None,None,None
0,Unknown,92,113,265,621,681,6061,2763,423,1881,...,1358,1270,880,648,1134,940,326,337,359,201
0,Bahamas,None,None,None,None,None,None,None,None,None,...,None,343,574,397,838,569,475,609,647,681
0,Czechoslovakia (former),None,None,None,None,None,None,None,None,None,...,None,490,614,449,629,503,372,310,291,232
0,Gambia,None,None,None,None,None,None,None,None,None,...,None,189,286,246,330,419,444,505,556,573
0,"Korea, North",None,None,None,None,None,None,None,None,None,...,None,NaN,NaN,NaN,NaN,28,13,13,19,27
0,"Korea, South",None,None,None,None,None,None,None,None,None,...,None,19223,17668,17628,22759,17576,11170,12664,13790,15786
0,Kosovo,None,None,None,None,None,None,None,None,None,...,None,NaN,NaN,NaN,89,397,590,465,510,487
0,Montenegro,None,None,None,None,None,None,None,None,None,...,None,NaN,NaN,0,32,140,167,205,227,231
0,Russia,None,None,None,None,None,None,None,None,None,...,None,8297,9412,7660,10778,9490,7566,8257,8154,8222
0,Saint Kitts-Nevis,None,None,None,None,None,None,None,None,None,...,None,331,483,334,529,389,305,306,319,315
0,Saint Lucia,None,None,None,None,None,None,None,None,None,...,None,515,623,506,779,583,554,600,724,856
0,Saint Vincent and the Grenadines,None,None,None,None,None,None,None,None,None,...,None,491,624,450,623,513,375,416,511,574
0,Samoa,None,None,None,None,None,None,None,None,None,...,None,165,201,163,204,185,154,172,178,206
0,Serbia,None,None,None,None,None,None,None,None,None,...,None,NaN,NaN,0,3,15,27,85,109,117
0,Slovakia,None,None,None,None,None,None,None,None,None,...,None,362,479,380,498,488,485,421,401,413
0,South Sudan,None,None,None,None,None,None,None,None,None,...,None,NaN,NaN,NaN,NaN,NaN,NaN,0,81,139
0,Soviet Union (former),None,None,None,None,None,None,None,None,None,...,None,3668,3831,2813,3538,4263,2954,2812,2610,2807
0,All other countries,None,None,None,None,None,None,None,None,None,...,None,37,27,35,59,48,37,45,40,41