In [2]:
import pandas as pd

In [5]:
act = pd.read_excel('Table60_1.xls')
act.set_index('Activities', inplace=True)
del act.index.name
act = act.transpose()
act.head()

,Total processed,Deportable aliens located,Mexican aliens,Working in agriculture,"Working in trades, crafts, industry, and service",Seeking employment,Canadian aliens,Other aliens,Smugglers of aliens located,Aliens located who were smuggled,Seizures (conveyances),Total value,Narcotics value,Other seizures value
1992,1221904,1199560,1168946,5488,7165,1065159,6167,24447,17237,69538,11391,1266000000,1217000000,49000000
1993,1281721,1263490,1230124,5393,7403,1117414,5249,28117,15266,80835,10995,1384000000,1338000000,46000000
1994,1046576,1031668,999890,5162,8068,901826,3401,28377,14143,92934,9134,1622203679,1579596359,42607320
1995,1336518,1324202,1293508,4487,12552,1185761,3463,27231,12796,102591,9327,2011767972,1965311238,46456734
1996,1561234,1549876,1523141,2684,9413,1405314,2746,23989,13458,122233,11129,1256032172,1208778533,47253639

In [6]:
act.to_csv('../../Data/border_patrol.csv')