In [45]:
import pandas as pd

data_04_13 = pd.read_excel('refugee_nat04-13.xls')
data_90_04 = pd.read_excel('refugee_nat90-04.xls')
data80_13 = pd.read_excel('refugee80-13.xls')

In [46]:
data_90_04.head()

,Country,1990,1991,1992,1993,1994,1995,1996,1997,1998,1999,2000,2001,2002,2003,2004
0,All countries,109078,96589,114498,107926,109593,98520,74791,69276,76181,85076,72143,68925,26839,28306,52835
1,Europe,56912,45516,64184,51278,50838,45703,41617,48450,54260,55877,37664,31526,15408,11269,9254
2,Albania,98,1363,1108,458,171,51,23,9,NaN,8,NaN,3,5,NaN,NaN
3,Armenia,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,35,20,27,30,63,88
4,Azerbaijan,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,210,259,449,115,406,407

In [47]:
data_04_13.head()

,Country,2004,2005,2006,2007,2008,2009,2010,2011,2012,2013
0,Total,52840,53738,41094,48218,60107,74602,73293,56384,58179,69909
1,Africa,29108,20746,18129,17486,8943,9678,13325,7693,10629,15984
2,Asia,12276,15769,10086,23564,44819,58309,52695,44583,44416,48840
3,Europe,7879,10524,9615,4192,2059,1693,1238,996,908,482
4,North America,2998,6368,3145,2922,4177,4800,4856,2930,1948,4206

In [48]:
data = pd.DataFrame(columns=data_90_04.columns+data_04_13.columns[1:])

for country in data_90_04.Country:
    begin = data_90_04[data_90_04.Country==country]
    end = []
    try: 
        end = data_04_13[data_04_13.Country==country]
    except:
        pass
    
    if end.empty:
        new_entry = begin.iloc[0].tolist() + [None,None,None,None,None,None,None,None,None]
    else:
        new_entry = begin.iloc[0].tolist() + end.iloc[0].tolist()[2:]
        
    appension =  pd.DataFrame(new_entry).transpose()
    appension.columns = data.columns
   
    data = data.append(appension)

/home/nshlapo/anaconda2/lib/python2.7/site-packages/ipykernel/__main__.py:1: FutureWarning: using '+' to provide set union with Indexes is deprecated, use '|' or .union()
  if __name__ == '__main__':

In [49]:
for country in data_04_13.Country:
    if country not in data.Country.tolist():
        begin = [country, None,None,None,None,None,None,None,None,None,None,None,None,None,None,None]
        end = data_04_13[data_04_13.Country==country]
        
        new_entry = begin + end.iloc[0].tolist()[2:]
        
        appension =  pd.DataFrame(new_entry).transpose()
        appension.columns = data.columns
        
        data = data.append(appension)

In [50]:
data.set_index(data.Country, inplace=True)
data.to_csv('../Data/refugee_by_nat.csv')

In [51]:
data_ref = pd.read_excel('refugee80-13.xls')
data_ref.set_index(data_ref.Year, inplace=True)
data_ref.to_csv('../Data/refugee.csv')