In [2]:
import pandas as pd

In [3]:
pros = pd.read_excel('Table49_0.xls')
pros.set_index('Action', inplace=True)
del pros.index.name
pros = pros.transpose()
pros.head()

,Total prosecutions,Total convictions,Total acquittals,Total dismissals,Immigration prosecutions,Immigration convictions,Immigration acquittals,Immigration dismissals,Naturalization prosecutions,Naturalization convictions,...,Other acquittals,Other dismissals,Fines (dollars),Immigration fines,Naturalization fines,Other fines,Imprisonment (years),Immigration imprisonment,Naturalization violations,Other violations
1992,14655,9865,57,4733,14138,9766,57,4315,517,99,...,NaN,NaN,1673488,1670839,2649,NaN,5592,5550,42,NaN
1993,18731,11685,240,6806,15566,10189,145,5232,695,287,...,13,1248,2613297,2242129,9660,361508,6626,3872,95,2659
1994,14854,10210,86,4558,13068,9180,74,3814,506,160,...,NaN,408,101503303,316163,7080,101180060,7522,3720,36,3766
1995,17035,12075,124,4836,15337,11110,94,4133,328,113,...,25,493,955054,609480,13695,331879,7161,5234,52,1875
1996,16115,12121,108,3886,14223,11014,107,3102,176,133,...,NaN,741,1131709,959214,3195,169300,6947,5436,64,1447

In [4]:
pros.to_csv('../../Data/prosecutions.csv')