In [2]:
import pandas as pd

In [7]:
pros = pd.read_excel('Table49_0.xls')
pros.set_index('Action', inplace=True)
del pros.index.name
pros.head()

,1992,1993,1994,1995,1996,1997,1998,1999,2000,2001,2002,2003,2004
Total prosecutions,14655,18731,14854,17035,16115,19180,23826,22491,22926,24316,23850,24918,19541
Total convictions,9865,11685,10210,12075,12121,16184,21480,20471,20751,21055,21042,22479,17100
Total acquittals,57,240,86,124,108,24,65,58,96,92,114,57,11
Total dismissals,4733,6806,4558,4836,3886,2972,2281,1962,2079,3169,2694,2382,2430
Immigration prosecutions,14138,15566,13068,15337,14223,17807,22857,21588,22071,23374,23219,24153,19370

In [8]:
pros.to_csv('../../Data/prosecutions.csv')